@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@model IEnumerable<NetPress.Models.PostModels>
@{
    ViewBag.Title = "My Posts";
}

@*<h2>StatusFilter</h2>*@

<table class="table" style="width:100%">
    <tr >
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.lastModified)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                @Html.ActionLink((string)item.title, "Details", "Post", new { id = item.postID }, null)
            </td>
            <td style="width:25%">
                @Html.Raw(item.content)
            </td>
            <td style="text-align:center">
                @Html.ActionLink(item.category, "Search", "Post", new { searchString = item.category }, null)
            </td>
            <td style="white-space: nowrap; text-align:center">
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td style="white-space: nowrap; text-align:center">
                @Html.DisplayFor(modelItem => item.dateCreated)
            </td>
            <td style="white-space: nowrap; text-align:center">
                @Html.DisplayFor(modelItem => item.lastModified)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.postID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Details", "Details", new { id = item.postID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.postID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
