@model IEnumerable<NetPress.Models.Posts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <h2>
        <a href="#">@Html.DisplayFor(modelItem => item.title)</a>
    </h2>
    <p class="lead">
        by <a href="index.php">@Html.DisplayFor(modelItem => item.UserID)</a>
    </p>
        <p><span class="glyphicon glyphicon-time"></span> Last edited on @Html.DisplayFor(modelItem => item.lastModified)</p>
                <hr>
                <p>@Html.DisplayFor(modelItem => item.content)</p>
                <hr>
                <p>Category : @Html.DisplayFor(modelItem => item.category)</p>
                <hr>
}

@*
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
              <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.content)
                </td>*@
 @*          <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.postID }) |
                @Html.ActionLink("Details", "Details", new { id = item.postID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.postID })
            </td>
        </tr>
    }

</table>
     *@

