@model IEnumerable<NetPress.ViewModels.ViewPosts>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 2px solid #000;">
@foreach (var item in Model)
{
    <h2>
        <a href="#">@Html.DisplayFor(modelItem => item.title)</a>
    </h2>
    <p class="lead">
        by @Html.ActionLink((string)item.UserFullName, "SearchID", "Posts", new { searchID = ViewBag.ID },null)
    </p>
        <p><span class="glyphicon glyphicon-time"></span> Last edited on @Html.DisplayFor(modelItem => item.lastModified)</p>
                <hr>
                @Html.Raw(item.content)
                <hr>
                <p>
                @Html.DisplayNameFor(model => model.category) : @Html.ActionLink(item.category, "SearchCategory","Posts",new {searchString = item.category },null)
                </p>
                <hr style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 2px solid #000;">
}
