@model IEnumerable<NetPress.ViewModels.ViewPosts>

@{
    ViewBag.Title = "Search";
}

@*<h2>Search</h2>*@

<h1 class="page-header">Posts</h1>

@foreach (var item in Model)
{
    <div class="panel panel-default" style="padding-left: 10px; padding-top: 5px; padding-right: 10px;">
        <h2>
            <b>
                @Html.ActionLink((string)item.title, "Details", "Posts", new { id = item.postID }, null)
                @*<a href="/Posts/Details/">@Html.DisplayFor(modelItem => item.title)</a>*@
            </b>
        </h2>
        <p class="lead">
            by @Html.ActionLink((string)item.UserFullName, "Search", "Posts", new { searchID = item.UserID }, null)
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Last edited on @Html.DisplayFor(modelItem => item.lastModified)</p>

        <div class="panel-body">

            @Html.Raw(item.content)

        </div>
        <div class="panel-footer">
            <p>
                @Html.DisplayNameFor(model => model.category) : @Html.ActionLink(item.category, "Search", "Posts", new { searchString = item.category }, null)
            </p>
        </div>
    </div>
        <hr style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 2px solid #000;">

}
